* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

a {
    color: darkmagenta;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
} 


form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.msg {
    border: 1px solid #aba9a9;
    border-radius: 1px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

#profile nav{
    width: 1200px !important; 
    background-color: red !important;
}

